.main_func {
    margin-top: 0px;
    margin-bottom: 100px;
}

.center_img {
    margin-top: 145px;
    margin-bottom: 100px;
    /*background-image: url("../../image/in-ITSM/garybg.png");*/
}
#header{
    /*height: 650px;*/
    overflow: hidden;
}

.cen_ti:before{
    bottom: 215px;
}

.center_img img{
    width:100%;
}
@media screen and (max-width: 920px)  {
    .center_img{
        margin-top: 45px;
        margin-bottom: 10px;
    }
    .center_body{
        margin-bottom: 50px;
    }
    .main_func_body{
        height: 330px;
    }
    .main_func{
        margin-bottom: 50px;
    }
}